<% provide :button_text, t("subjects.create") %>
<% provide :button_search, t("subjects.search") %>
<% provide :text_search, t("subjects.code") %>
<% provide :path_search, subjects_path %>
<div class="navbar-form">
<nav class="navbar navbar-expand-lg">
  <div class="navbar-collapse" id="navbarNav">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <%= render "form"%>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <%= render "shared/form_search" %>
      </li>
    </ul>
  </div>
</nav>
</div>
<table class="table table-bordered table-striped">
  <thead class="bg-info">
    <tr>
      <th scope="col">#</th>
      <th scope="col"><%= t("subjects.code") %></th>
      <th scope="col"><%= t("subjects.name") %></th>
      <th scope="col"><%= t("subjects.total") %></th>
      <th scope="col"><%= t("subjects.times") %></th>
      <th scope="col"><%= t("table.edit") %></th>
      <th scope="col"><%= t("table.delete") %></th>
    </tr>
  </thead>
  <tbody>

    <% @subjects.each.with_index(1) do |subject,index| %>
    <tr>
      <th scope="row"><%= @subjects.offset + index %></th>
      <td><%= subject.code %></td>
      <td><%= link_to subject.name, subject %></td>
      <td><%= subject.class_students.count %></td>
      <td>
        <%= subject.times_exam %>
        <%= t("table.minute") %>
      </td>
      <th scope="col"><%= link_to t("table.edit"),
       edit_subject_path(subject) %></th>
      <th scope="col"><%= link_to t("table.delete"), subject, method: :delete,
        data: { confirm: t("table.confirm") }%></th>
    </tr>
    <% end %>

  </tbody>
</table>
<%= will_paginate @subjects ,
 renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer%>

